.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.navbar{
	margin-bottom: 0;
	height: 50px;
	flex: 0 0 auto;
}

.home{
	display: flex;
	max-height: calc(100% - 55px);
	flex:1 0 auto;
}
.search{
	padding: 10px 20px;
	min-width: 250px;
	box-sizing: border-box;
	border-right: 1px solid lightgrey;
	&__form{
		padding: 15px;
	}
	h4{
		color: lightgrey;
		margin-top: 0;
	}
	input{
		margin:8px 0;
		border: none;
		&:focus{
			outline:none;
		};
	}
}
.rooms{
	&__item{
		list-style: none;
		padding: 5px;
		box-sizing: border-box;
		&:hover, 
		&:first-child{
			background-color: #f5f5f5;
			cursor: pointer;
		}
	}
	img{
		margin-right: 10px;
	}
}

.room{
  width: 100%;
	position:relative;
	border-right: 1px solid lightgrey;
 	img{
 		display: inline-block;
 		margin-right: 10px;
 	}
	&__name{
		position: absolute;
		top:-50px;
		margin:0;
		.topic{
			font-size: 14px;
		}
	}

.chat{
	padding-top: 10px;
  max-height: calc(100% - 50px);
	overflow: auto;
	&__list{
		padding: 0; 
	}
	&__item{
		list-style: none;

		&-container{
			display:flex;
			margin:6px 12px;
			.avatar{
			margin-right: 15px;
			}
			.content{
				width:100%;
			}
			.details{
				display:flex;
				justify-content: space-between;
				color: grey;
			}	
			.from{
				font-weight: bold;
				font-size: 12px;
			}
		}
	}
}

.form__post{
	.form-control{
		border-radius: 0;
	}
}
}
.minibar{
	border-right: 1px solid lightgrey;
	&__menu{
		padding: 0;
	}
	&__item{
		list-style: none;
		padding: 15px;
		cursor: pointer;
		opacity: 0.5;
		span{
			color: #7f8080;
			font-size: 22px;
		}
		.icon-svg {
		  width: 22px;
		  height: 22px;
		  .icon{
		  	fill: #7f8080;
		  	stroke: #7f8080;
		  	stroke-width: .5px;
		  	vector-effect: non-scaling-stroke;
		  }
		}
	}
}
footer{
	height: 55px;
	flex:0 0 auto;
}

